@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.blink-animation {
  animation: blink 1.5s linear infinite;
}
/* 
.nodes {
  opacity: 1;
}
.nodes:hover {
  opacity: 1;
}

.links {
  opacity: 0;
} */
